@page "/"

<h1>App para Idosos!</h1>

Este projeto é um aplicativo de controle financeiro para idosos, desenvolvido em .NET MAUI com um banco de dados SQL Server local. O objetivo é permitir que os usuários registrem manualmente suas despesas de forma simples e acessível.

A interface foi projetada pensando na acessibilidade, com botões grandes e fontes maiores, facilitando o uso por pessoas idosas. Como o aplicativo é offline, não requer conexão com a internet para funcionar.

O banco de dados SQL Server local armazena as despesas registradas, permitindo que o usuário visualize e gerencie seus gastos sem depender de serviços externos.
